body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    height: 90px;
    width: 90px;
    margin:50px;
}

header {
    background-color:grey;
    padding:10px;
    font-size:50px;
}

header img {
    width:200px;
    height:200px;
}

main {
    text-align:center;
}
main img {
    border-radius: 10px;
}

footer {
    background-color:gray;
    font-size:25px;
}
